<div class="about" id="a">
    <div class="about-box">
        <div class="text">
            <div class="hs">
                <h3>WHAT IS SOS?</h3>
                <h1>
                    SOCIAL BATTLE <br>
                    ROYALE GAME
                </h1>
            </div>
            <div class="border"></div>
            <div class="text-about">
                Each round, <strong>you</strong> and <strong>15</strong> other contestants
                complete to escape a deadly island filled
                with monsters. The trick is: <strong>three</strong> people
                can survive. Will you run solo or form
                friendships with others to escape?
                <p>
                    Making the right decisions could be
                    the difference life and death.
                </p>
            </div>
        </div>
        <div class="gallery">
            <div class="gal-image">
                <img src="images/gal-image1.png" height="610" width="500">
            </div>
            <div class="gal-image">
                <img src="images/gal-image2.png" height="610" width="500">
            </div>
            <div class="gal-image">
                <img src="images/gal-image3.png" height="610" width="500">
            </div>
        </div>
    </div>
</div>