<div class="hedgehog-enemies">
    <h2>Враги ёжика</h2>
    <div class="hedgehog-enemies-list">
        {{#each enemies as | enemy |}}
            {{>enemy-card enemy=enemy}}
        {{/each}}
    </div>
</div>