<div class="footer">
    <div class="menu">
        <div class="container">
            <div class="clearfix">
                <div class="links">
                    <div class="block-caption">О Еже </div>
                    <div class="clearfix">
                        <div class="links-block">
                            <div class="link-wrapper"><a href="#">Главная</a></div>
                            <div class="link-wrapper"><a href="#">Особенности</a></div>
                            <div class="link-wrapper"><a href="#">Враги</a></div>
                        </div>
                        <div class="links-block">
                            <div class="link-wrapper"><a href="#">Жизнь</a></div>
                            <div class="link-wrapper"><a href="#">Чат</a></div>
                            <div class="link-wrapper"><a href="#">Регистрация</a></div>
                        </div>
                    </div>
                </div>
                <div class="contacts">
                    <div class="block-caption">Контакты</div>
                    <div class="link-wrapper">
                        <a href="tel:8-800-535-3535">
                            <span class="icon-small"><i class="fas fa-phone-alt"></i></span> 8-800-535-3535
                        </a>
                    </div>
                    <div class="link-wrapper">
                        <a href="mailto:contact@hedgehog.com">
                            <span class="icon-small"><i class="far fa-envelope"></i></span> contact@hedgehog.com
                        </a>
                    </div>
                    <div class="social">
                        <a href="http://vk.com" target="_blank">
                            <span class="icon"><i class="fab fa-vk"></i></span>
                        </a>
                        <a href="http://facebook.com" target="_blank">
                            <span class="icon"><i class="fab fa-facebook-f"></i></span>
                        </a>
                        <a href="http://twitter.com" target="_blank">
                            <span class="icon"><i class="fab fa-twitter"></i></span>
                        </a>
                        <a href="http://instagramm.com" target="_blank">
                            <span class="icon"><i class="fab fa-instagram"></i></span>
                        </a>
                        <a href="http://youtube.com" target="_blank">
                            <span class="icon"><i class="fab fa-youtube"></i></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="copyrights-caption">
                Ёжик - 2020
            </div>
        </div>
    </div>
</div>
</body>