<div class="footer">
    <div class="row">
        <div class="logo">
            <a href="/Game_Land">
                <img src="images/logo.png" alt="SOS" width="90" height="90">
            </a>
        </div>
        <div class="menu">
            <a href="#m" class="item">
                MAIN
            </a>
            <a href="#a" class="item">
                ABOUT
            </a>
            <a href="#f" class="item">
                GAME FEATURES
            </a>
            <a href="#r" class="item">
                SYSTEM REQUIREMENTS
            </a>
            <a href="#q" class="item">
                QUOTES
            </a>
        </div>
        <div class="social">
            <a href="http://xbox.com" target="_blank" class="item">
                <span class="facebook-icon"><img src="images/facebook-icon.svg" alt="facebook"></span>
            </a>
            <a href="http://steam.com" target="_blank" class="item">
                <span class="twitter-icon"><img src="images/twitter-icon.svg" alt="twitter"></span>
            </a>
            <a href="http://steam.com" target="_blank" class="item">
                <span class="youtube-icon"><img src="images/youtube-icon.svg" alt="youtube"></span>
            </a>
            <a href="http://steam.com" target="_blank" class="item">
                <span class="twitch-icon"><img src="images/twitch-icon.svg" alt="twitch"></span>
            </a>
        </div>
    </div>
    <div class="spacer"></div>
    <div class="copyrights">
        <div class="year">
            © 2018 Outpost Games, Inc. All Rights Reserved
        </div>
        <div class="boring">
            <a href="#">PRIVACY POLICY</a> <a href="#">| TERMS OF SERVICES |</a> <a href="#">CODE OF CONDUCT</a> 
        </div>
    </div>
</div>