<div class="header">
    <div class="logo">
        <a href="/Game_Land">
            <img src="images/logo.png" alt="SOS" width="55" height="55">
        </a>
    </div>
    <div class="menu">
        <a href="#m" class="menu-item">
            MAIN
        </a>
        <a href="#a" class="menu-item">
            ABOUT
        </a>
        <a href="#f" class="menu-item">
            GAME FEATURES
        </a>
        <a href="#r" class="menu-item">
            SYSTEM REQUIREMENTS
        </a>
        <a href="#q" class="menu-item">
            QUOTES
        </a>
    </div>
    <div class="language-and-icons">
        <div class="language-item">
            ENG <img src="images/lang-arrow.svg">
            <div class="language-submenu">
                <div class="space"></div>
                <div class="submenu">
                    <div class="item"><a href="#">RUS</a></div>
                    <div class="item"><a href="#">FRA</a></div>
                    <div class="item"><a href="#">DEU</a></div>
                </div>
            </div>
        </div>
        <img src="images/spacer2.svg">
        <div class="store-icons">
            <a href="https://xbox.com" target="_blank">
                <span class="xbox-icon"><img src="images/xbox-icon.svg" alt="xbox"></span>
            </a>
            <a href="https://store.steampowered.com" target="_blank">
                <span class="steam-icon"><img src="images/steam-icon.svg" alt="steam"></span>
            </a>
        </div>
        <a href="#m" class="burger">
            <div class="palka pa1"></div>
            <div class="palka pa2"></div>
            <div class="palka pa3"></div>
        </a>
    </div>
    <div class="side-menu">
        <a href="#m" class="menu-item">
            MAIN
        </a>
        <a href="#a" class="menu-item">
            ABOUT
        </a>
        <a href="#f" class="menu-item">
            GAME FEATURES
        </a>
        <a href="#r" class="menu-item">
            SYSTEM REQUIREMENTS
        </a>
        <a href="#q" class="menu-item">
            QUOTES
        </a>
    </div>
</div>