<div class="header">
    <div class="header-wrapper container clearfix">
        <div class="logo">
            <a href="/hedgehog/index">
                <img src="/images/logo-color.svg" alt="Ежик"> <span class="logo-text">Ёжик</span>
            </a>
        </div>
        <div class="menu clearfix">
            <div class="display-table full-height">
                <div class="display-table-row">
                    <a href="/hedgehog/index" class="display-table-cell align-middle menu-item">
                        <span class="menu-link">О ёжике</span>
                    </a>
                    <a href="#" class="display-table-cell align-middle menu-item">
                        <span class="menu-link">Особенноси</span>
                    </a>
                    <a href="/hedgehog/enemies" class="display-table-cell align-middle menu-item">
                        <span class="menu-link">Враги</span>
                    </a>
                    <a href="#" class="display-table-cell align-middle menu-item">
                        <span class="menu-link">Жизнь</span>
                    </a>
                    <a href="#" class="display-table-cell align-middle menu-item">
                        <span class="menu-link">Чат</span>
                    </a>
                    <a href="#" class="display-table-cell align-middle menu-item">
                        <span class="menu-link">Регистрация</span>
                    </a>
                    <a href="#" class="display-table-cell align-middle menu-item">

                        <span class="menu-link">Войти</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>