<div class="main" id="m">
    <div class="promo-and-button">
        <div class="promo">
            <h1>SURVIVE AT ALL COSTS</h1>
            <h3>EXPERIENCE NEW SOCIAL BATTLE ROYALE GAME</h3>
        </div>
        <div class="button button-buy">
            <a href="https://store.steampowered.com" target="_blank">
                <span class="buy-text">
                    Buy now on Steam
                </span>
                <span class="spacer"><img src="images/spacer.svg"></span>
                <span class="price">
                    $14.99
                </span>
            </a>
        </div>
    </div>
    <div class="scroll-down-button">
        <a href="#a">
            <div class="button-text">
                THE STORY
            </div>
            <div class="arrow"><img src="images/button-arrow.svg"></div>
        </a>
    </div>
</div>