<div class="news-register" id="n">
    <div class="news-box">
        <div class="hs">
            <h3>WANT TO STAY IN TOUCH?</h3>
            <h1>NEWSLETTER SUBSCRIBE</h1>
        </div>
        <div class="text">
            In order to start receiving our news, all you have to do is enter your email address.
            Everything else will be taken care of by us. We will send you emails containing information
            about game. We don’t spam.
        </div>
        <form action="/addsubscriber" method="POST">
            <div class="subscribe-box">
                <div class="title">
                    Your email address
                </div>
                <input type="text" placeholder="aliciliniavopir@gmail.com" name="address">
            </div>
            <button type="submit" class="button subscribe-button">
                Subscribe now
            </button>>
        </form>
    </div>
</div>