<div class="quotes" id="q">
    <div class="box">
        <div class="text-box">
            <div class="hs">
                <h3>WHAT PEOPLE THINK?</h3>
                <h1>PRESS QUOTES</h1>
            </div>
            <div class="text">
                Our goal is to create a product and service that you’re satisfied with and use it every day.
                This is why we’re constantly working on our services to make it better every day and really
                listen to what our users has to say.
            </div>
            <div class="button read-more-button">
                <a href="#">
                    Read more testimonials
                </a>
            </div>
        </div>
        <div class="qoutes-box">
            {{#each qoutes as | qoute |}}
                {{>qoute qoute = qoute}}
            {{/each}}
        </div>
    </div>
</div>