<div class="quotes" id="q">
    <div class="box">
        <div class="text-box">
            <div class="hs">
                <h3>WHAT PEOPLE THINK?</h3>
                <h1>PRESS QUOTES</h1>
            </div>
            <div class="text">
                Our goal is to create a product and service that you’re satisfied with and use it every day.
                This is why we’re constantly working on our services to make it better every day and really
                listen to what our users has to say.
            </div>
            <div class="button read-more-button">
                <a href="#">
                    Read more testimonials
                </a>
            </div>
        </div>
        <div class="qoutes-box">
            <div class="qt first">
                <div class="row">
                    <div class="image">
                        <img src="images/qoute1.png" width="61" height="61">
                    </div>
                    <div class="head">
                        EVAN LAHTI
                        <p>
                            PC Gamer
                        </p>
                    </div>
                    <img src="images/twitter-icon.svg" class="img-t">
                </div>
                <div class="comment">
                    “One of my gaming highlights of the year.”
                </div>
                <div class="date">
                    October 18, 2018
                </div>
            </div>
            <div class="qt second">
                <div class="row">
                    <div class="image">
                        <img src="images/qoute2.png" width="61" height="61">
                    </div>
                    <div class="head">
                        JADA GRIFFIN
                        <p>
                            Nerdreactor
                        </p>
                    </div>
                    <img src="images/twitter-icon.svg" class="img-t">
                </div>
                <div class="comment">
                    “The next big thing in the world of streaming and survival games.”
                </div>
                <div class="date">
                    December 21, 2018
                </div>
            </div>
            <div class="qt third">
                <div class="row">
                    <div class="image">
                        <img src="images/qoute3.png" width="61" height="61">
                    </div>
                    <div class="head">
                        AARON WILLIAMS
                        <p>
                            Uproxx
                        </p>
                    </div>
                    <img src="images/twitter-icon.svg" class="img-t">
                </div>
                <div class="comment">
                    “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”
                </div>
                <div class="date">
                    December 24, 2018
                </div>
            </div>
        </div>
    </div>
</div>