<div class="requirements" id="r">
    <div class="hs">
        <h3>CAN MY COMPUTER RUN THIS GANE?</h3>
        <h1>SYSTEM REQUIREMENTS</h1>
    </div>
    <table>
        <tr>
            <td>
                OS:
                <div class="text">
                    Windows 7 64-bit only (No OSX support at this time)
                </div>
            </td>
            <td>
                PROCESSOR:
                <div class="text">
                    Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ
                </div>
            </td>
        </tr>
        <tr>
            <td>
                MEMORY:
                <div class="text">
                    8 GB RAM
                </div>
            </td>
            <td>
                STORAGE:
                <div class="text">
                    8 GB available space
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                GRAPHICS:
                <div class="text">
                    NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                </div>
            </td>
        </tr>
    </table>
</div>