.news-register {
    height: 768px;
    position: relative;
    background: url("/images/statue.svg") no-repeat;
    background-position: 20% 10%;
    background-color: #080a0b;
}

.news-register .news-box {
    height: 100%;
    width: 45%;
    margin-left: 45%;
    margin-right: 10%;
}

.news-register .news-box .hs {
    padding-top: 25%;
}

.news-register .news-box .hs h1 {
    margin-top: 2%;
}

.news-register .news-box .text {
    margin-top: 5%;
    margin-right: 20%;

    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.news-register .news-box form {
    margin-top: 8%;

    display: flex;
    align-items: center;
    height: 60px;
}

.news-register .news-box .subscribe-box {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    align-self: stretch;

    width: 60%;

    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    color: white;

    mix-blend-mode: normal;
    
    border-radius: 4px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
}

.news-register .news-box .subscribe-box .title {
    opacity: 0.5;
}

.news-register .news-box .subscribe-box input {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.news-register .news-box .subscribe-box input, ::placeholder {
    background: none;
    border: none;
    opacity: 1;
    
    color: #FFB548;
}

.news-register .news-box .subscribe-button {
    align-self: start;
}

@media screen and (max-width: 1100px) {
    .news-register {
        background-position: -200px 10%;
    }

    .news-register .news-box form {
        width: 260px;
        flex-direction: column;
        height: 120px;
    }

    .news-register .news-box {
        height: 100%;
        width: 45%;
        margin-left: 30%;
    }

    .news-register .news-box .hs h1 {
        font-size: 60px;
    }

    .news-register .news-box .text {
        margin-right: 0;
    }

    .news-register .news-box .subscribe-box {
        width: 100%;
    }
}