.about {
    height: 1050px;
    position: relative;
    background: url(/images/bg-about.png) center;
    background-size: cover;
    background-color: #080a0b;
}

.about .about-box {
    display: flex;

    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15%;
    color: white;
}

.about .about-box .text {
    width: 50%;
}

.about .about-box .text .border {
    height: 3px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 4px;
}

.about .about-box .text .text-about {
    margin-left: auto;
    margin-right: 20%;
    margin-top: 10%;
    width: 360px;

    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: white;
}

.about .about-box .text .text-about p {
    margin-top: 1em;
}

.about .about-box .gallery {
    height: 610px;
    width: 500px;
}

@media screen and (max-width: 1140px) {
    .about .about-box .gallery {
        transform: scale(0.9);
    }

    .about .about-box .text .hs h1 {
        font-size: 70px;
    }
}
@media screen and (max-width: 970px) {
    .about .about-box {
        flex-direction: column;
        align-items: center;
        width: 99%;
        height: 98%;
        margin-left: 1%;
        margin-right: 0;
        padding-top: 2%;
    }

    .about .about-box .text {
        width: 100%;
    }

    .about .about-box .gallery {
        transform: scale(0.8);
    }
}