.main {
    display: flex;
    flex-direction: column;
    height: 960px;
    position: relative;
    background: url(/images/bg-main.png) bottom no-repeat;
    background-size: cover;
}

.main .header {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: 'Open Sans';
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 12px;
}

.main .header .logo {
    text-decoration: none;
}

.main .header .menu {
    flex-basis: 40% ;
    display: flex;
    justify-content: space-between;
}

.main .header .menu-item {
    padding-left: 10px;
    color: white;
    text-decoration: none; 
}

.main .header .language-and-icons {
    flex-basis: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .header .language-and-icons .language-item {
    color: white
}

.main .header .language-and-icons .language-item .language-submenu a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: white;
}

.main .header .language-and-icons .language-item .language-submenu {
    width: 65px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;

    position: absolute;
    visibility: hidden;
}

.main .header .language-and-icons .language-item .language-submenu .item {
    padding: 10%;
}

.main .header .language-and-icons .language-item .language-submenu .item:hover a {
    color: #FFB548;
}

.main .header .language-and-icons:hover .language-item .language-submenu {
    visibility: visible;
}

.main .header .language-and-icons .language-item .language-submenu:hover{
    visibility: visible;
}

.main .header .language-and-icons  .store-icons {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.main .header .language-and-icons  .store-icons a {
    text-decoration: none;
    margin-right: 0;
}

.main .promo-and-button {
    text-decoration: none;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .button-buy {
    margin-top: 30px;
}

.main .button-buy a {
    text-decoration: none;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main .button-buy .buy-text {
    color: black;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
}

.main .button-buy .spacer {
    margin-left: 10px;
    margin-right: 10px;
}

.main .button-buy .price {
    color: black;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
}

.main .scroll-down-button {
    margin-top: auto;
    margin-bottom: 3%;
    text-align: center;
}

.main .scroll-down-button a {
    text-decoration: none;
}

.main .scroll-down-button .button-text {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}