.footer {
    margin-top: auto;
    background-color: #080a0b;
    padding-left: 10%;
    padding-right: 10%;
}

.footer .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .row a {
    text-decoration: none;

    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: white;
}
.footer .row .item {
    margin-top: 45px;
    padding-left: 10px;
}

.footer .row .menu {
    text-align: center;
    margin-left: 10%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .row .social {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .spacer {
    margin-top: 30px;
    opacity: 0.2;
    border: 0.5px solid white;
}
.footer .copyrights {
    padding-bottom: 50px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}
.footer .copyrights .year {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: white;
    opacity: 0.5;
}
.footer .copyrights .boring {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    color: white;
}

.footer .copyrights .boring a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 905px) {
    .footer .row {
        flex-direction: column;
        justify-content: flex-start;
    }

    .footer .row .menu {
        margin-left: 0;
        width: 100%;
    }

    .footer .row .social {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .footer .copyrights {
        flex-direction: column;
        align-items: center;
    }

    .footer .copyrights .boring {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .footer .copyrights .boring a{
        margin-top: 10px;
    }
}