.main {
    display: flex;
    flex-direction: column;
    height: 960px;
    position: relative;
    background: url(/images/bg-main.png) bottom no-repeat;
    background-size: cover;
    background-color: #080a0b;
}

.main .promo-and-button {
    margin-top: 200px;

    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .button-buy {
    margin-top: 30px;
}

.main .button-buy a {
    text-decoration: none;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main .button-buy .buy-text {
    color: black;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
}

.main .button-buy .spacer {
    margin-left: 10px;
    margin-right: 10px;
}

.main .button-buy .price {
    color: black;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
}

.main .scroll-down-button {
    margin-top: auto;
    margin-bottom: 50px;
    text-align: center;
}

.main .scroll-down-button a {
    text-decoration: none;
}

.main .scroll-down-button .button-text {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

@media screen and (max-width: 650px) {

}