@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

.html {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

html, body, div, p, h1, h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Bebas Neue';
    font-size: 80px;
    line-height: 80px;
    font-weight: 300;
    letter-spacing: 3px;
    color: white;
}

h3 {
    font-family: 'Bebas Neue';
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
}

.button{
    width: 260px;
    height: 60px;
    background: linear-gradient(183.46deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    height: 960px;
    position: relative;
    background: url(/images/bg-main.svg) bottom no-repeat;
    background-size: cover;
}


.main .header {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: 'Open Sans';
    font-weight: 600;
    letter-spacing: 0.1em;
    font-size: 12px;
}

.main .header .logo {
    text-decoration: none;
}

.main .header .menu {
    flex-basis: 40% ;
    display: flex;
    justify-content: space-between;
}

.main .header .menu-item {
    color: white;
    text-decoration: none; 
}

.main .header .language-and-icons {
    flex-basis: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .header .language-and-icons .language-item {
    color: white
}

.main .header .language-and-icons  .store-icons {
    width: 45%;
    display: flex;
    justify-content: space-between;
}

.main .header .language-and-icons  .store-icons a {
    text-decoration: none;
    margin-right: 0;
}

.main .promo-and-button {
    text-decoration: none;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main .button-buy {
    margin-top: 30px;
}

.main .button-buy a {
    text-decoration: none;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.main .button-buy .buy-text {
    color: black;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
}

.main .button-buy .spacer {
    margin-left: 10px;
    margin-right: 10px;
}

.main .button-buy .price {
    color: black;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
}

.main .scroll-down-button {
    margin-top: auto;
    margin-bottom: 3%;
    text-align: center;
}

.main .scroll-down-button a {
    text-decoration: none;
}

.main .scroll-down-button .button-text {
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}


.about {
    height: 1050px;
    position: relative;
    background: url(/images/bg-about.png) center;
    background-size: cover;
}

.about .about-box {
    width: 80%;
}

.about .text {
    
}

.about .text .text-about {
    font-family: Open Sans;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: white;
}


.features {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 870px;
    position: relative;
    background: url(/images/bg-features.png) center;
    background-size: cover;
}

.features .right-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.features .info {
    position: relative;
    top: 20%;
    display: flex;
    flex-direction: column;
}

.features .features-block {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 2px;
    color: #FFB548;
}

.features .feature-text {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: white;
    width: 40%;
}


.requirements {
    display: flex;
    flex-direction: column;
    height: 960px;
    position: relative;
    background: url(/images/bg-requirements.svg) center;
    background-size: cover;
}

.requirements .hs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35%;
    text-align: center;
}

.requirements .hs h1 {
    padding-top: 8px;
}

.requirements table {
    border: 1px #979797;
    border-collapse: collapse;
    
    width: 40%;
    height: 40%;
    margin-left: 10%;

    font-family: 'Bebas Neue';
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFB548;
}

.requirements table .text {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.requirements td {
    border: 1px solid #979797;
    padding: 3%;
}

.quotes {
    height: 960px;
    position: relative;
    background: url(/images/bg-qoutes.png) center;
    background-size: cover;
}


.news-register {
    height: 960px;
    position: relative;
    background: url("/images/statue.svg") no-repeat;
    background-position: 20% 10%;
    background-color: #080a0b;
}

.news-register .news-box {
    height: 80%;
    width: 45%;
    margin-left: 45%;
    margin-right: 10%;
}

.news-register .news-box .hs {
    padding-top: 25%;
}

.news-register .news-box .hs h1 {
    margin-top: 2%;
}

.news-register .news-box .text {
    margin-top: 5%;

    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: white;
}

.news-register .news-box form {
    margin-top: 8%;

    display: flex;
    align-items: center;
    height: 60px;
}

.news-register .news-box .subscribe-box {
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    align-self: stretch;

    width: 60%;

    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;

    color: white;

    mix-blend-mode: normal;
    
    border-radius: 4px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
}

.news-register .news-box .subscribe-box input, ::placeholder {
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 18px;
    background: none;
    border: none;
    opacity: 1;
    
    color: #FFB548;
}

.news-register .news-box .subscribe-button {
    align-self: stretch;

    color: black;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 16px;
}

.news-register .footer {
    height: 20%;
}